body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(39, 122, 169, 0.1);
}

#x {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 56.5%;
  font-size: x-large;
}

#y {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 60%;
  font-size: x-large;
}