@font-face {
  font-family: 'pixel';
  src: url('./font/slkscr.ttf');
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#game-container {
  position: relative;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  transform: translate(-50%, -50%);
}

#game-screen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#game-text {
  display: inline-block;
  font-family: 'pixel', sans-serif;
  font-size: 20px;
  position: absolute;
  color: white;
  z-index: 1;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game-control {
  display: inline-block;
  font-family: 'pixel', sans-serif;
  font-size: 20px;
  position: absolute;
  color: white;
  /* z-index: 1; */
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(39, 122, 169, 0.1);
}

#x {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 14%;
  left: 56%;
  font-size: x-large;
}

#y {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 14%;
  left: 60%;
  font-size: x-large;
}

#mouse-x {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 14%;
  left: 37.5%;
  font-size: x-large;
}

#mouse-y {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 14%;
  left: 42%;
  font-size: x-large;
}

#fps {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 14%;
  left: 50%;
  font-size: x-large;
}

#egg {
  display: none;
  position: absolute;
  font-family: 'pixel', sans-serif;
  color: rgb(171, 72, 11);
  z-index: 1;
  top: 20%;
  left: 56.5%;
  font-size: 15px;
}

#start {
  display: inline-block;
  font-family: 'pixel', sans-serif;
  font-size: 30px;
  position: absolute;
  color: rgb(171, 72, 11);
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px 5px 2px 5px;
  border-radius: 5%;
  background-color: aliceblue;
  border: 1px solid white;
  cursor: pointer;
  box-shadow: 0 0 5px;
}

#game {
  display: none;
  font-family: 'pixel', sans-serif;
  font-size: 25px;
  position: absolute;
  color: white;
  z-index: 1;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#level {
  display: none;
  font-family: 'pixel', sans-serif;
  font-size: 15px;
  position: absolute;
  color: rgb(171, 72, 11);
  z-index: 1;
  top: 20%;
  left: 35%;
}